<!DOCTYPE html>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="\static\polls\style.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="\static\polls\bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="\static\polls\bootstrap.min.js"></script>
		<mate charset="utf-8">
		<title>
			{%block title%}
			{%endblock%}
		</title>
	</head>
<body>
	<div class="content">
		{%block content%}
		<div class = "jumbotron">
			</div>
		{% endblock %}	
	</div>
</body>
</html>